
.card{
  @apply ease-in-out duration-300;
 &:hover{
   transform: scale(0.95);
 }
}
.wrapper{
  @apply w-[300px]   rounded-lg backdrop-blur  border-2 border-fuchsia-600 flex flex-col overflow-hidden;
}
.image{
  @apply w-full h-[150px] shadow;
}
.information{
  @apply flex flex-1 flex-col;
  background: #8E54E9;
}
.title{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;

}