.swiper {
    width: 100%;
    height: 100%;
}
.mySwiper_layout{
    width: 100%;
    height: 100%;
    display: flex;
}
.swiper-wrapper {
    width: 0 !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;


    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    @apply shadow;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0!important;
}
.swiper-pagination{
 position: relative!important;
}
.swiper-pagination-bullet {
    background: #ffffff !important;
    opacity: .8 !important;
    width: 15px !important;
    height: 15px!important;
}

.swiper-pagination-bullet-active {
    background: #9048f1 !important;
}